@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden; /*Needed or website doesnt load on ios*/
  --min-screen-height: 640px;
  --smaller-min-screen-height: 448px;
  --half-min-screen-height: 320px; 
  --thirdish-min-screen-height: 192px;

  --primaryBgCol: black;
  --secondaryBgCol: black;
  --tertiaryBgCol: black;
  
  --primaryTextCol: black;
  --secondaryTextCol: black;
  --tertiaryTextCol: black;

}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  z-index: 8;
  display: flex;
  justify-content: center;
  overflow: auto;
  /* background-color: turquoise; */
}

.navList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-item {
  list-style: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-container {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown:hover .dropdown-container {
  display: block;
}

.dropdown-contents{
  margin-top: 16px;
  margin-left: -12px;
  padding: 12px 16px;
  box-shadow: 0px 12px 11px -12px rgba(0,0,0,0.21);

}

.cont{
  height:100vh;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-x: hidden;
  /*overflow-y: auto;*/
}

.parallax {
  width: 100vw;
  height: 100vh;
  min-height: var(--min-screen-height);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  transform-style: preserve-3d;
  z-index: 1;
}

.parallax > .background {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: -1;
  transform: translateZ(-1px) scale(2);
}

.smaller-parallax-section{
  height: 70vh;
  min-height: var(--smaller-min-screen-height);
}

.smaller-parallax-section > .background{
  transform: translateZ(-1px) scale(2.5);
}

.pickup-delivery-parallax-section{
  height: 50vh;
  min-height: var(--half-min-screen-height);
}

.pickup-delivery-parallax-section > .background{
  transform: translateZ(-1px) scale(3);
}


#connect-with-us{
  height: 30vh;
  min-height: var(--thirdish-min-screen-height);
}

.normal > .background {
  position: absolute; 
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
}

.normal{
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 64px;
  padding-bottom: 64px;
  transform: translateZ(0px);
}

#pickup-delivery{
  height: 50vh;
  min-height: var(--smaller-min-screen-height);
}

@media (min-width: 640px) {
  #pickup-delivery {
    padding-top: 128px;
    padding-bottom: 128px;
  }
}

footer{
  padding-top: 24px !important;
  padding-bottom: 16px !important;
}

.parallax:nth-child(1){
  text-align:left;
}

h1{
  font-size: 5vw;
  min-height: 100px;
  font-weight: 300;
}

@media (max-width: 1200px) {
  h1 {
    font-size: 64px; /* Replace with your desired minimum font size for smaller viewports */
  }
}

@media (max-width:  768px) {
  h1 {
    font-size: 44px; /* Replace with your desired minimum font size for smaller viewports */
  }
}

.extra-images{
  min-width: 150px;
}

#parallaxContainer{
  scroll-behavior: smooth;
}

#bookingPage{
  height: 70vh;
}



.bg-primary{
  background-color: var(--primaryBgCol) !important;
}

.bg-secondary{
  background-color: var(--secondaryBgCol) !important;
}

.bg-accent{
  background-color: var(--tertiaryBgCol) !important;
}

.text-tprimary{
  color: var(--primaryTextCol) !important;
}

.text-tsecondary{
  color: var(--secondaryTextCol) !important;
}

.text-ttertiary{
  color: var(--tertiaryTextCol) !important;
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.animate-fade-in {
  animation: fade-in 0.5s ease-out forwards;
}

#booking-iframe{
  min-height: var(--smaller-min-screen-height) !important;
}